body {
    color: #222;
    text-align: center;
}

.caja {
    width: 300px;
    height: 300px;
    display: flex;
    background:#48e;
    font-size: 40px;
    color: #fff;
}

.responsive-caja {
    width: 100%;
    height: 300px;
    display: flex;
    background:#333;
    font-size: 40px;
    color: #fff;
}

.caja span, .responsive-caja span {
    margin: auto;
}