.reloj {
    margin: 40px;
    background: linear-gradient(#333,#999);
    border: 2px solid #000;
    display: inline-flex;
}

.reloj div {
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-family: monospace;
    border: 2px solid #000;
}